PORT = 3000
SESSION_SECRET = 'Hydrogen'
# official: https://formbeta.yorktechapps.com
# local: http://172.16.3.129:420
AUTH_URL = 'http://172.16.3.129:420'
# Use your local server URL for testing, and the official URL for production 
THIS_URL = 'http://172.16.3.129:3000/login'
# official: your official server api key
# local: Your local server api key
API_KEY = 'Your API key'
DATABASE_FILE = './db/database.db'